*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html{
    height: 100%;
}

body{
    min-height: 100%;
}

.header{
    grid-area: header;
}

.main{
    grid-area: main;
}

.footer{
    grid-area: footer;
}

.all-content{
    grid-template:
        "header" 
        "main"
        "footer"
    ;
}

.all-content{
    background-color: pink;
    display: grid;
    grid-template-areas:
        "header"
        "main"
        "footer" 
    ;
}

.header{
    background-color: red;
 
}

.main{
    background-color: blue;
}

.footer{
    background-color: purple;

}